@model ArticleListItemViewModel

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
             <a asp-action="Detail" asp-route-id="@Model.Id" class="btn btn-primary">Detail</a>
        </div>
        <div class="card-footer text-muted">Published @Model.CreationDate </div>
    </div>
</div>
